<div class="container" style="padding-top: 60px">
  <div class="row">
    <!-- <div class="col-lg-4 col-md-4 col-xs-4">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Safezones</div>
          <div class="card-body">
            <a routerLink="/safezone" style="color: white; text-decoration: underline"><h4 class="card-title">View Safezone</h4></a>
            <p class="card-text">Check out all the stats of the safezones. Along with the supplies and capacity.</p>
          </div>
        </div>
    </div> -->
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Safezones</div>
        <div class="card-body">
          <a routerLink="/safezone" style="color: white; text-decoration: underline"><h4 class="card-title">Edit Safezone</h4></a>
          <p class="card-text">Check out all the stats of the safezones. Along with the supplies and capacity.</p>
        </div>
      </div>
  </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Civilians</div>
        <div class="card-body">
          <a routerLink="/civilians" style="color: white; text-decoration: underline"><h4 class="card-title">View Civilians</h4></a>
          <p class="card-text">Check stats of all the civilians who are registered in at least one of the safezones.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Volunteers</div>
        <div class="card-body">
          <a routerLink="/volunteers" style="color: white; text-decoration: underline"><h4 class="card-title">View Volunteers</h4></a>
          <p class="card-text">Check stats of volunteers who have registered to work in safezones.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 60px">
    <div class="col-lg-2 col-md-2 col-xs-2"></div>
    <div class="col-lg-4 col-md-4 col-xs-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Safezones</div>
          <div class="card-body">
            <a routerLink="/safezoneReg" style="color: white; text-decoration: underline"><h4 class="card-title">Register Safezones</h4></a>
            <p class="card-text">Use this to register a new safezone along with a ID and location.</p>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Civilians</div>
        <div class="card-body">
          <a routerLink="/register" style="color: white; text-decoration: underline"><h4 class="card-title">Register civilians</h4></a>
          <p class="card-text">Input details of a person living in a safezone.</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="card bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <a routerLink="/safezoneReg" style="color: black"><h4 class="card-title">Register Safezones</h4></a>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div> -->
  </div>
</div>